@model WebApplication_Resto.Models.Reserva

@{
    ViewData["Title"] = "Edit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-0 text-white">
    <div class="container py-4 bg-success bg-gradient">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h1>Reservas</h1>
                <p class="lead mb-0"><i>Sistema de gestión administrativa</i></p>
            </div>
        </div>
    </div>
</section>
<br />

<h4>Modificar reserva</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdReserva" />
            <div class="form-group">
                @Html.LabelFor(r => r.DniTitular)
                @Html.TextBoxFor(r => r.DniTitular, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(r => r.DniTitular, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(r => r.ApellidoTitular)
                @Html.TextBoxFor(r => r.ApellidoTitular, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(r => r.ApellidoTitular, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="CantComensales" class="control-label"></label>
                <input asp-for="CantComensales" class="form-control" />
                <span asp-validation-for="CantComensales" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(r => r.FechaReserva)
                <input asp-for="FechaReserva" class="form-control" />
                <span asp-validation-for="FechaReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(r => r.EstadoR)
                @*<label asp-for="EstadoR" class="control-label"></label>*@
                <select asp-for="EstadoR" class="form-control" asp-items="Html.GetEnumSelectList<EstadoReserva>()">
                    <option selected="selected" value="">Confirme la reserva por favor.</option>
                </select>
                <span asp-validation-for="EstadoR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
