@model IEnumerable<WebApplication_Resto.Models.Reserva>

@{
    ViewData["Title"] = "Reservas";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Paginado paginado = new Paginado();
    int pagNro = 0;

    if (ViewBag.Paginado != null)
    {
        paginado = ViewBag.Paginado;
        pagNro = paginado.CurrentPage;
    }

    string currentSearching = ViewBag.CurrentSearching;
}
<section class="py-0 text-white">
    <div class="container py-4 bg-success bg-gradient">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h1>Reservas</h1>
                <p class="lead mb-0"><i>Sistema de gestión administrativa</i></p>
            </div>
        </div>
    </div>
</section>
<br />

<p>
    <a asp-action="Create" class="btn btn-outline-primary ">Hacer una reserva</a>
</p>
<br />
<p>
    @*using (@Html.BeginForm("Index", "Reserva", FormMethod.Get))
        {
            <b>Filtrar reservas por:</b>
            @Html.TextBox("searching", "", new { placeholder = "DNI del titular", @class = "form-input" }) <input type="submit" value="Search" />
            <a asp-action="Index" class="btn btn-outline-secondary">Ver todas las reservas</a>
        }*@
    <table class="table table-hover table-bordered">
        <thead class="table-success">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ApellidoTitular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantComensales)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaReserva)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoR)
                </th>
                <th>
                  Acciones
                 </th>
            </tr>
        </thead>
        <tbody>
           @*@if (Model.Count() == 0)
            {
                    <tr>
                        <td colspan="4" class="text-danger">
                            No se encontraron resultados para la búsqueda realizada.
                        </td>
                    </tr>
            }
            else
            {*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApellidoTitular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantComensales)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaReserva)
                    </td>
                    Acciones
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdReserva" class="btn-outline-warning btn-sm btn " title="Editar">
                            <i class="fas fa-edit"></i>
                        </a> |
                        <a asp-action="Details" asp-route-id="@item.IdReserva" class="btn-outline-info btn-sm btn " title="Detalles">
                            <i class="fas fa-info-circle"></i>
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.IdReserva" class="btn-outline-danger btn-sm btn " title="Eliminar">
                            <i class="fas fa-trash-alt"></i>
                        </a>

                        @*<a asp-action="Edit" asp-route-id="@item.IdReserva">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.IdReserva">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdReserva">Delete</a>*@
                    </td>
                </tr>
            }
            

        </tbody>
    </table>
    <div class="container">

        @if (paginado.TotalPages > 0)
        {
            <ul class="pagination justify-content-end">
                @if (paginado.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Reserva" asp-action="Index" asp-route-searching="@(currentSearching)" asp-route-pg="1">Primero</a>
                        <a class="page-link" asp-controller="Reserva" asp-action="Index" asp-route-searching="@(currentSearching)" asp-route-pg="@(paginado.CurrentPage-1)">Anterior</a>
                    </li>
                }
                @for (var pag = paginado.StartPage; pag <= paginado.EndPage; pag++)
                {
                    <li class="page-item @(pag==paginado.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Reserva" asp-action="Index" asp-route-searching="@(currentSearching)" asp-route-pg="@pag">@pag</a>
                    </li>
                }
                @if (paginado.CurrentPage < paginado.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Reserva" asp-action="Index" asp-route-searching="@(currentSearching)" asp-route-pg="@(paginado.CurrentPage+1)">Siguiente</a>
                        <a class="page-link" asp-controller="Reserva" asp-action="Index" asp-route-searching="@(currentSearching)" asp-route-pg="@(paginado.TotalPages)">Último</a>
                    </li>
                }
            </ul>
        }
    </div>
